/* =======================
      CSS Variables
========================*/
:root {
  --black: #000000;
  --lt-black: rgba(0, 0, 0, .5);
  --grey: rgba(128, 128, 128, .8);
  --dk-grey: rgba(88, 88, 88, .8);
  --blue: #1e90ff;
  --charcoal: #2e2e2ec4;
  --red: #ff0000;
  --silver: rgba(192, 192, 192, 0.25);
  --white: #ffffff;
  --yellow: #f8ce0b;
}

body, html {
  height: 100%;
  width: 80vw;
  margin: 0 auto;
}

/* =======================
        Headers
========================*/
h1, h2, h3, h4, h5, h6 {
	margin: 8px 0;
  font-weight: normal;
}

h2, h3, .header {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 25px;
}

/* =======================
      Class Selectors
========================*/
.border {
  border: 2px solid var(--silver);
}

.container {
  width: 100%;
  margin: 32px 0;
}

.btn {
  box-sizing: border-box;
  float: left;
  height: 40px;
  min-width: 176px;

  margin: 10px 10px 0 0;
  padding: 10px;

  background-color: transparent;
  border: 1.5px solid black;
  border-radius: 0;

  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  background-color: var(--grey);
}

.btn:active {
  box-shadow: inset 3px 3px 5px 6px var(--dk-grey);
}

/* =======================
    Star Rating Styles
========================*/
.stars__outer {
  display: inline-block;
  position: relative;
  z-index: 10;
  /* font-family: 'FontAwesome', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.stars__outer::before {
  content: "☆☆☆☆☆";
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: var(--yellow);
}

.stars__inner::before {
  content: "★★★★★";
}

/* =======================
    Star Rating Styles
========================*/
.stars__outer {
  display: inline-block;
  position: relative;
  z-index: 10;
  /* font-family: 'FontAwesome', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.stars__outer::before {
  content: "☆☆☆☆☆";
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  color: var(--yellow);
}

.stars__inner::before {
  content: "★★★★★";
}