/* =======================
        Clearfix
========================*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

h1, h3, h4, h5, h6, p, a {
	margin: 8px 0;
}

img {
	margin: 0px 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* =======================
      Global Styles
========================*/
.error {
  border: 5px solid red;
}

.hidden {
  visibility: hidden;
}

.border {
  border: 2px solid var(--silver);
}

h2.header {
  text-align: left;
  width: 100%;
  margin-top: 64px;
}

/* =======================
      Grid & Flexbox
========================*/
.overview-grid-template {
  grid-gap: 10px;
  grid-template-columns: repeat(autofill, 180px);
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
}

.style-selector-grid-template {
  height: fit-content;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* =======================
    Overview Styles
========================*/
.overview {
  height: 80%;
  /* From Product Features Branch */
  /* max-width: 90%; */
  width: 100%;
  margin-top: 0 auto;
  padding: 12px 0;
  z-index: 3;
}

.overview__images {
  display: table;
  position: relative;
  grid-column: 1 / span 2;
  width: 100%;
}

.overview__image {
  position: relative;
  object-fit: contain;
  object-position: center;
  border: 2px solid var(--black);

  width: 100%;
  max-width: 824px;
  height: max-content;
  max-height: 536px;

  grid-column-start: 1;
  grid-row: 2 / span 5;
}

.overview__product-features {
  max-width: 824px;
  text-align: center;
  grid-row-start: 7;
  grid-column: 1 / span 2;
}

/* =======================
      Product Info
========================*/
.overview__product-info {
  height: max-content;
  min-height: 800px;
  grid-column-start: 4;
  margin-left: 80px;
}

.product-info__detail {
  grid-row-start: 1;
  max-height: 112px;
}

.product-info__detail,
.overview__style-selector {
  grid-column: 1 / span 4;
}

h2.product-details__name {
  margin: 16px 0;
}

.product-info__sale-price {
  color: var(--red);
}

.product-info__default-price {
  text-decoration: line-through;
}

/* =======================
      Style Selector
========================*/
.style-selector__header {
  margin-left: 0;
}

.header-undecorated {
  font-weight: 400;
}

/* ===============================
         Image Styles
            TO-DO
Convert scrollbar to ⏮ arrows ⏭
 that can be clicked to scroll
================================*/
.carousel {
  /* border: 1px solid var(--white); */
}

.styles__carousel {
  position: absolute;

  left: 16px;
  top: 16px;
  width: 90px;
  height: 90%;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}

.images__carousel {
  min-width: 392px;
  max-width: 400px;
}

.thumbnail-square {
  border: 1px solid var(--silver);
  width: 72px;
  height: 72px;
}

.thumbnail-rounded {
  object-fit: cover;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--charcoal);
  width: 80px;
  height: 80px;
  margin: 10px 4px;
}

.thumbnail-square,
.thumbnail-rounded {
  object-fit: cover;
  object-position: top;
}

.thumbnail, .slides {
  display: inline-block;
}

.prev {
  border: 3px solid magenta;
}

.next {
  border: 3px solid lime;
}

.carousel__dots {
  text-align: center;
}

.dot {
  border: 3px solid red;

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* =======================
    Star Rating Styles
========================*/
.stars__outer {
  display: inline-block;
  position: relative;
}

.stars__outer::before {
  content: "☆☆☆☆☆"
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars__inner::before {
  content: "★★★★★"
}

.stars__a {
  font-size: 12px;
  padding-left: 4px;
  vertical-align: text-top;
}


.stars__reviews {
  visibility: hidden;
  height: 0;
  width: 0;
}


/* =======================
      Button Styles
========================*/
.button,
.drop-down {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.style-selector__button,
.drop-down {
  margin: 16px 8px;
  height: 40px;
  width: 200px;
}

.add-to-bag {
  text-align: left;
  padding-left: 12px;
}

.modal-button {
  position: absolute;
  top: 16px;
  left: 91%;
  border-radius: 15%;
  margin-left: 8px;
  background-color: var(--white);
  opacity: .7;
  min-width: 40px;
}

.style-selector__buttons {
  width: max-content;
}

/* =======================
      Modal Styles
========================*/
.modal-hidden {
  height: 0;
  opacity: 0;
  filter: blur(8px);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
  visibility: hidden;
}

.images__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--lt-black);

  filter: blur(0);

  opacity: 1;
  z-index: 5;
}

.modal__content {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 80%;
  max-width: 1000px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin: 0 auto;
}

.modal__content,
.modal-hidden {
  transition: 1.15s ease-out;
}

.overview__image-landscape {
  min-height: 550px;
  object-fit: cover;
}

.overview__image-portrait {
  width: 100%;
  height: auto;
  object-fit: contain;
}