:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --silver: #c0c0c0;
}

.thumbnail {
  border: 1px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.modal {
  width: 1500px;
  height: 800px;
}

.modal-hidden {
  border: 2px solid magenta;
}

.error {
  border: 5px solid red;
}

.overview-border {
  border: 2px solid var(--white);
}

.thumbnail {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.overview__image {
  object-fit: cover;
  width: 700px;
  height: 700px;
}