/* =======================
      General Styles
========================*/
:root {
  --black: #000000;
  --blue: #1e90ff;
  --charcoal: #2e2e2ec4;
  --red: #ff0000;
  --silver: #c0c0c0;
  --white: #ffffff;
}

/* =======================
      Global Styles
========================*/
.error {
  border: 5px solid red;
}

.hidden {
  visibility: hidden;
  transform: scale(0.33);
}

.border {
  border: 2px solid var(--silver);
}

.grey-border {
  border: 2px solid var(--silver);
}

/* =======================
      Grid & Flexbox
========================*/
.grid-template {
  grid-gap: 10px;
  grid-template-columns: repeat(autofill, 180px);
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.flex-column {
  flex-direction: column;
}

/* =======================
    Overview Styles
========================*/
.overview {
  height: 100%;
  margin-top: 80px;
  z-index: 10;
}

.overview__images {
  display: table;
  position: relative;
  grid-column-start: 2;
}

.overview__image {
  border: 2px solid var(--black);
  object-fit: cover;
  grid-row: 2 / span 5;
  width: 400px;
  height: auto;
}

.overview__product-info {
  height: max-content;
  grid-column-start: 8;
}

.product-info__detail {
  grid-row-start: 1;
}

.overview__style-selector {
  grid-row-start: 3;
}

/* =======================
      Product Info
========================*/
.product-info__sale-price {
  color: var(--red);
}

.product-info__default-price {
  text-decoration: line-through;
}

/* =======================
      Style Selector
========================*/
.style-selector__header {
  margin-left: 0;
}

.header-undecorated {
  font-weight: 400;
}

/* ===============================
         Image Styles
            TO-DO
Convert scrollbar to ⏮ arrows ⏭
 that can be clicked to scroll
================================*/
.carousel {
  /* border: 1px solid var(--white); */
}

.styles__carousel {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 90px;
  height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}

.images__carousel {
  min-width: 392px;
  max-width: 400px;
}

.thumbnail-square {
  border: 1px solid var(--silver);
  width: 72px;
  height: 72px;
}

.thumbnail-rounded {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--charcoal);
  width: 72px;
  height: 72px;
  margin: 10px 8px;
}

/* =======================
      Modal Styles
========================*/
.images__modal {
  height: 100vh;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);

  filter: blur(0);
  transition: 1.5s ease-out;
  transform: scale(0.5);
  opacity: 1;

  visibility: visible;
  position: absolute;
  z-index: 3;

  /* width: 100vw; */
  /* height: 100%; */
  min-height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}


.modal-hidden {
  height: 0;
  opacity: 0;
  filter: blur(8px);
  box-shadow: 1rem 0 0 rgba(black, 0.2);
  visibility: hidden;
  transition: 1.5s ease-out;
}

.modal__content {
  object-fit: contain;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

/* =======================
    Star Rating Styles
========================*/
.stars__outer {
  display: inline-block;
  position: relative;
}

.stars__outer::before {
  content: "☆☆☆☆☆"
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars__inner::before {
  content: "★★★★★"
}

.stars__a {
  font-size: 12px;
  padding-left: 4px;
  vertical-align: text-top;
}


.stars__reviews {
  visibility: hidden;
  height: 0;
  width: 0;
}


/* =======================
      Button Styles
========================*/
.button,
.drop-down {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(47, 79, 79, 0.8);
}

.style-selector__button,
.drop-down {
  margin: 32px 8px 0 0;
  height: 40px;
  width: 240px;
}

.button:active {
  box-shadow: inset 3px 3px 5px 6px #ccc;;
}

.modal-button {
  margin-left: 8px;
  background-color: var(--white);
  top: 0;
  font-size: 32px;
  height: 40px;
  min-width: 56px;
}
.style-selector__buttons {
  width: max-content;
}